#### Data parameters

datapath: data/shrec21_full_dataset/subtomo_files
affinity: data/shrec21_full_dataset/subtomo_files/affinity.csv
classes: data/shrec21_full_dataset/subtomo_files/classes.csv
limit: 1000
split: 20

#### Network parameters

depth:  3
channels:  64
latent_dims:  8
pose_dims: 1
model: a

#### Training parameters

no_val_drop: true
epochs:  1000
batch:  128
learning:  0.001
gpu:  true
freq_sta: 10  # frequency of state saves

#### Loss parameters

beta_min: 0
beta:  1
beta_cycle: 5
beta_ratio: 0.5
kl_weight_method :  cycle_sigmoid 
gamma:  2
loss_fn:  MSE

#### Evaluation parameters
eval:  false
freq_eval: 10 # frequency of test evaluation (if test present)

#### Visualization parameters
vis_bet:  false  # value of beta for each epoch in case of cyclical annealing
vis_los:  false  # loss on/off (every epoch from epoch 2)
vis_acc:  false  # confusion matrices on/off
vis_rec:  false  # reconstructions on/off
vis_emb:  false  # latent embeddings on/off
vis_int:  false  # latent interpolations on/off
vis_dis:  false  # latent disentanglement on/off
vis_pos:  false  # pose disentanglement on/off
vis_his:  false  # class distribution histogram on/off
vis_all:  true   # sets all above to on/off
dynamic: true    # dynamic embedding visualisations on/off (freq same as freq_emb)

freq_acc: 10  # frequency of accuracy visualisation
freq_rec: 10  # frequency of reconstruction visualisation
freq_emb: 10  # frequency of latent embedding visualisation
freq_int: 10  # frequency of latent interpolation visualisation
freq_dis: 10  # frequency of latent disentanglement visualisation
freq_pos: 10  # frequency of pose disentanglement visualisation
freq_all: 10  # sets all above to the same value (inc freq_sta and freq_eval)
